<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ERROR 404</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/public/css/foundation.css">
   <link rel="stylesheet" href="/public/css/app.css">
    </head>
    <body>
        <section class="grid-x">
            <div class="large-8 medium-8 small-8">
                <h1>A página pela qual você está procurando não existe ou está em manutenção.</h1>
            </div>
            <div class="large-4 medium-4 small-4 cell">
                    <div class="icon-bar vertical six-up h3">
                        <a href="/"><li>Home</li></a>
                        <a href="/cadastro/palavra"><li>Cadastrar Palavra</li></a>                    
                        <a href="/cadastro/dicionario"><li>Cadastrar Dicionario</li></a>
                        <a href="/vincular/sinonimo"><li>Vincular Sinonimo</li></a>
                        <a href="/vincular/dicionario"><li>Vincular Dicionario</li></a>
                        <a href="/faleconosco"><li>Fale conosco</li></a>
                    </div>
            </div>
        </section>

        <script src="./public/js/vendor/jquery.js"></script>
        <script src="./public/js/vendor/what-input.js"></script>
        <script src="./public/js/vendor/foundation.js"></script>
        <script src="./public/js/app.js"></script>
    </body>
</html>