header > .cell {    
    background: #b5e3f2;
    background: -webkit-linear-gradient(#b5e3f2, lightblue);
    background: -o-linear-gradient(#b5e3f2, lightblue);
    background: -moz-linear-gradient(#b5e3f2, lightblue);
    background: linear-gradient(#b5e3f2, lightblue);
}
.lateral-cell {
    background: #b5e3f2;     
}
footer {
    background: lightblue;
}
li {
    list-style: none;
}
.vertical > li {
    display: flex;
    background: lightskyblue;
    margin: 1px;
    border-radius: 4px;
}
.vertical > li > a {
    color: white;
}
.vertical > li:hover {
    background: deepskyblue;
}
.cell > form, .cell > table {
    margin-top: 2px;
}
.rounded {
    width: 100px;
    height: 100px;
    border: solid darkblue 1px;
    border-radius: 50px;
}